.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  max-width: 100%;
  height: auto;
}
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 0px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both;
}
html,
body {
  height: 100%;
  overflow: hidden;
}
.container {
  padding: 0;
  width: 100%;
  max-width: none;
}
.row {
  margin: 0;
}
a {
  cursor: pointer;
}
.nav-tabs {
  margin: 7px 7px 0 7px;
}
.nav-tabs li a {
  padding: 5px 7px;
  font-size: 12px;
}
.tab-content {
  margin: 0 7px 7px 7px;
  padding: 10px;
  height: calc(100% - 43px);
  border: 1px solid #ddd;
  border-top: none;
}
.tab-content .tab-pane {
  height: 100%;
}
.projects {
  height: 100%;
}
.projects:before,
.projects:after {
  content: " ";
  display: table;
}
.projects:after {
  clear: both;
}
.projects:before,
.projects:after {
  content: " ";
  display: table;
}
.projects:after {
  clear: both;
}
.projects > div {
  height: 100%;
}
.projects .projects-list {
  float: left;
  width: 200px;
}
.projects .project-file-options {
  float: right;
  margin: -11px -11px -11px 0;
  padding: 10px;
  width: 200px;
  height: calc(100% + 22px);
  background-color: #2e558f;
  color: #FFF;
}
