<form class="project-modal form-horizontal" role="form" ng-submit="modal.close(project)">
	<div class="modal-header">
		<h3>
			Project
			<input class="input-name" type="text" ng-model="project.name" /><br />
			<small>Select the <abbr
				title="You don't have to select files which are imported by a main file. These imported files are watched automagically.">main</abbr>
				LESS files you want to watch.
			</small>
		</h3>
	</div>
	<div class="modal-body">
		<div class="filters clearfix">
			<input type="text" ng-model="availableFiles.query" placeholder="Filter" />

			<label class="pull-right">
				<input type="checkbox" ng-model="availableFiles.showIgnored" />
				Show <abbr title="You can edit the ignore patterns in the 'Settings' tab.">ignored</abbr> files ({{
				availableFiles.ignored.length }})
			</label>
		</div>
		<ul class="list-group">
			<li class="list-group-item"
				ng-repeat="file in availableFiles.showIgnored ? availableFiles.all : availableFiles.filtered | filter:availableFiles.query">
				<label>
					<input type="checkbox" ng-model="file.selected" />
					{{ file.relativePath }}
				</label>
			</li>
		</ul>
	</div>
	<div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
		<button class="btn btn-primary" ng-click="save()">Save</button>
	</div>
</form>